<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
</head>
<body>
{% if test_text %}

<p>{{test_text}}</p>

    {{df}}


{% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 

        <button type="submit">Upload</button>
        <p>{{prace}}</p>

 {% endif %}



</body>
</html>